name: Selenium TestNG CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install dependencies
      run: mvn clean install -DskipTests

    - name: Run Tests
      run: mvn test

    - name: Upload Screenshots (after failures)
      if: failure() || success()
      uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: screenshots/
        if-no-files-found: ignore
